<aside>
  <h1>Curd Operation</h1>

  <h2 style="color: red;">
    Open console it will show the content of app.comp.html file
  </h2>
  <button routerLink="child1st" class="btn btn-primary">
    this will go to child page</button
  ><br />
  <button routerLink="delete" class="btn btn-primary">deleting</button><br />
  <button routerLink="creat" class="btn btn-primary">creationwithrefresh</button
  ><br />
  <button routerLink="creaat" class="btn btn-primary">
    creationwithourefresh</button
  ><br />
  <button routerLink="update" class="btn btn-primary">updateWithRefresh</button
  ><br />
  <button routerLink="modify" class="btn btn-primary">
    updateWithoutRefersh</button
  ><br />
</aside>
<section>
  <router-outlet></router-outlet>
</section>
