<h1>delete-with-nwithout-refreshing works!</h1>
<div class="row">
  <div class="col-md-4">
    <div *ngFor="let d of data">{{ d | json }}</div>
  </div>

  <div class="col-md-4">
    <div *ngFor="let d of data">
      <button (click)="onRefDelete(d)" style="background-color: red;">
        <input type="text" placeholder="{{ d.name }}" disabled />
        delete
      </button>
    </div>
    <div>
      <h2>for deleting data</h2>
      give id u want to delete

      <input type="text" name="deoc" [(ngModel)]="fectchvalue" />
      <button (click)="inputDel(fectchvalue)">delete</button>
      <h3>{{ fectchvalue }}</h3>
    </div>
  </div>

  <div class="col-md-4">
    <div *ngFor="let f of data">
      <button style="background-color: red;" (click)="withoutRefDelet(f)">
        <input type="text" placeholder="{{ f.name }}" /> deleteWithoutRefresh
      </button>
    </div>
  </div>
</div>
